<form action="/answer">
  <input type="text" name="ask">
  <input type="submit" value="Ask!">
</form>

<!-- <form action="/question">
  <input type="text" name="answer">
  <input type="submit" value="OK!">
</form> -->
